@import '../Styles/variableSass/mixins';
@import '../Styles/variableSass/variable';
.myWorks {
    background-color: $backGroundColor;
    margin: 50px 0;
        .works {
            @include test(100%);
            text-align: center;
            .title{
                margin-bottom: 30px;
                font-weight: 300;
                text-transform: capitalize;
                position:relative;
                color:$textColor2;
                text-align: center;
                font-family: "Josefin Sans", sans-serif;
                line-height: 1.2;
                letter-spacing: 5px;
                h3{
                    margin: 0 0 30px;
                    font-size:36px;
                }


            }

        }
        .allMyWorks {
            margin-top: 50px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
            @media screen and (max-width: 1490px){
                justify-content: center;
            }
        }



}




