.myWorks {

    background-color: #F1E2FF;
}

/*All container my works*/
.myWorksContainer {
    border: 1px solid;
    min-height: 100vh;
    margin: 0 auto;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

}

/* Container width 80%*/
.works {
    border: 1px solid;
    width: 100%;
    text-align: center;
}

/*Container where saving my works*/
.allMyWorks {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/*Container of works */
.work {
    width: 400px;
    border: 1px solid;
}

/*Container with first Project*/
.photoProject {
    width: 100%;
    height:200px;
    background-color: #d78b8b;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Container with Photo Project*/

/*Photo Project*/

.showProject {
    width: 70px;
    background-color: #86878a;
    border: 1px solid;
    font-size:25px;
}
/*Container with Link on my Project */
.showProject a {
    text-decoration: none;
    color:white;
}
/*Link on my Project */
.infoProject{
    background-color: #f8eded;
}
/*Container of Info Project*/

.textProject{
    width:100%;
    height:80px;
    text-align: left;
    background-color: #d4cbd9;
    display: flex;
    flex-direction: column;
}
/*Container With Info About Projects*/
.titleProject{
    font-weight: bold;
    font-size:20px;
    width:60%;
    display: flex;
    justify-content:center;
}