@import '../Styles/variableSass/variable';
.distance{
    width:100%;
    height:20vh;
    background-color:$backGroundColor2;
    display: flex;
    flex-direction:row;
    align-items: center;
}
.distanceContainer {
    margin: 0 auto;
    width: 70%;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.btnDistance button{
padding: 10px;
}