@import '../Styles/variableSass/variable';

.form {
  width: 100%;
  background-color: #ffffff;
  margin-bottom: 50px;
}

.formContainer {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.formik {
  text-align: center;
  display: flex;
  flex-direction: column;

  .formName {
    margin: 10px;

    .test {
      margin-right: 10px;

      @media screen and (max-width: 800px) {
        margin: 0;

      }
    }

    input {
      width: 345px;
      @media screen and (max-width: 600px) {
        width: 200px;

      }
    }

  }

  .formSubject {
    margin: 10px 10px;

    input {
      width: 730px;
      @media screen and (max-width: 1000px) {
        width: 350px;

      }
      @media screen and (max-width: 600px) {
        width: 200px;

      }
    }
  }

  .formMessage {
    margin: 10px 10px;

    textarea {
      width: 730px;
      height: 150px;
      @media screen and (max-width: 1000px) {
        width: 350px;
        height: 150px;

      }
      @media screen and (max-width: 600px) {
        width: 200px;
        height: 100px;

      }
    }
  }
}
