@import './src/Styles/variableSass/variable';

.main {
  background-color: $backGroundColor;
  display: flex;
  flex-direction: column;
  width: 100%;
  .aboutMe {
    text-align: center;
    color: $textColor2;
    font-size: 36px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    flex-wrap: nowrap;

  }

  .containerAboutMe {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-bottom: 70px;
    @media screen and (max-width: 1490px) {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    .myPhoto {
     margin-left: 10%;
      padding:20px;
      img {
        width: 400px;
        height: 450px;
      }
    }

    .aboutMeInfo {
      padding: 45px;
      font-family: 'Poppins', sans-serif;
      width: 60%;
      margin-right: 15%;
      line-height: 22px;
      font-style: normal;
      font-size:18px;
      @media screen and (max-width: 1490px) {
        width: 100%;
      }
    }
    .buttonAboutMe{
      position: relative;
      text-align: right;
      top:50px;
      right: 50px;
      button{
        padding: 15px;

      }
    }
  }

}


